transformers==4.5.1
gunicorn==20.1.0 
async-generator==1.10
brotlipy==0.7.0
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
docopt==0.6.2
filelock==3.0.12
Flask==1.1.2
IProgress==0.4
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jupyter-contrib-core==0.3.3
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
lesscpy==0.13.0
llvmlite==0.36.0
pandocfilters==1.4.2
pipreqs==0.4.10
ply==3.11
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==20.0.0
regex==2021.4.4
resampy==0.2.2
sacremoses==0.0.45
Send2Trash==1.5.0
testpath==0.4.4
tokenizers==0.10.2
torch==1.8.1
torchtext==0.9.1
transformers==4.5.1
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
yarg==0.1.9